# Files that must be ignored when composer is pulling down the package

# Exclude git files
/.github/ export-ignore
/tests/ export-ignore
/.gitignore export-ignore
/phpunit.xml.dist export-ignore
/README.md export-ignore